<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Church Election</h1>
    <br />
    <h2>I hope this goes well</h2>
    <br />
    <%= link_to 'Learn More', 'candidates_path', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>


<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Candidate 1</h3>
    <br />
    <p>Bio</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Candidate 2</h3>
    <br />
    <p>Bio</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Candidate 3</h3>
    <br />
    <p>Bio</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Candidate 4</h3>
    <br />
    <p>Bio</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Candidate 5</h3>
    <br />
    <p>Bio</p>
  </div>
</div>