<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_candidate.name %></h1>
  <br />
  <%= link_to 'Preview As a memeber...', candidate_path(current_candidate), class: 'btn btn-warning float-right' %>
  <br class="clr" />

  <div class="text-center">
    <%= link_to 'Add a new section...', new_admin_candidate_section_path(current_candidate), class: 'btn btn-primary btn-lg' %>
  </div>
  <ul>
    <% current_candidate.sections.each do |section| %>
      <li>
        <%= section.title %>
      </li>
    <% end %>
  </ul>

</div>