<br />

<div class="booyah-box col-10 offset-1">
  <h1><%= @candidate.title %></h1>
  <br />
  <div class="row">
    <div class="col-sm-8 col-12">
      <%= @candidate.description %>
    </div>
  </div>

  <div class="col-12">
    <% @candidate.sections.each do |section| %>
      <div class="section">
        <%= section.title %>
      </div>
    <% end %>
  </div>
</div>